
.diffBtns {
    margin-bottom: 10px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;

    /* display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 30%;
    margin-left: 37.5%; */
}

body {
  zoom: 2; /* Scale the whole page by 1.5 */
 background-image: url('../Img/64x64/light.jpg');
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 text-align: center;
 align-items: center;
}

.board {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table {
  
    display: inline-table;
    margin: 1em;
    border-spacing: 0; 
}

td {
    
    padding: 0;
    margin: 0;
    width: 32px; 
    height: 32px; 
}

.img {
    padding: 0;
    margin: 0;
    display: block; 
    width: 32px; 
    height: 32px; 
}

.timerText {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: gainsboro;
   
    
}

.hints {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display:flex;
    /* width: 33%;
    display: flex; */
}

.safeClicks{
    background-color: gainsboro;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    margin-bottom: 10px;
    border: 2px solid black
    
}

.undo{
    margin: 10px;
}


.manualModal {

    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    background-color: gainsboro;
  
}

.manualModal span{
    color:red
}

.hidden {
    display:none;
}

.darkMode{
    background-image: url('../Img/64x64/darkBackground.jpg');
    background-color: darkblue;
    color:darkgray

}

.darkModeBtns {
    background-color: lightcyan;
}

button {
    border-radius: 20%;
    background-color: darkgray;
    
}