
.diffBtns {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;

    /* display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 30%;
    margin-left: 37.5%; */
}

body {
    
 text-align: center;
 align-items: center;
}

.board {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table {
  
    display: inline-table;
    margin: 1em;
    border-spacing: 0; 
}

td {
    
    padding: 0;
    margin: 0;
    width: 32px; 
    height: 32px; 
}

.img {
    padding: 0;
    margin: 0;
    display: block; 
    width: 32px; 
    height: 32px; 
}

.timerText {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
   
    
}

.hints {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    /* width: 33%;
    display: flex; */
}